body, .theme--light.application
{
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}
.bg_01d, .bg_02d, .bg_03d, .bg_50d
{
    background-color: #498cec;
}
.bg_01n, .bg_02n, .bg_03n, .bg_50n, .bg_04d, .bg_09d, .bg_10d, .bg_11d, .bg_13d
{
    background-color: #678dbc;
}
.bg_04n, .bg_09n, .bg_10n, .bg_11n, .bg_13n
{
    background-color: #153154;
}


/*sections*/
.container-full-height 
{
    height: 100%;
}
.woweather-header
{
    height: 20%;
    position: relative;
}
.woweather-main
{
    height: 60%;
}
.woweather-footer
{
    height: 20%;
}

/*elements*/ 
.woweather--title
{
    font-size: 2em;
    color: #fff;
}
.woweather-link-btn
{
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    
    line-height: 1em;
    margin-right: 1em;
}
.woweather-link-btn__icon
{
    font-size: 0.9em;
    transform: rotate(45deg);
    margin-right: 0.3em;
}

/*.woweather-view*/
.woweather-view
{
    position: relative;
}
.woweather-view__nummber
{
    font-family: 'Pathway Gothic One', sans-serif;
    color: #fff;
    font-size: 16em;
    line-height: 1;
}
.woweather-view__degree
{
    color: #fff;
    font-size: 12em;
    position: relative;
    top: -70px;
}
.woweather_images
{
    width: 100%;
    height: 100%;
    width: auto;
}
.woweather_images-block
{
    width: 160px;
    height: 160px;
    display: inline-block;
}
.woweather-view__name
{
    display: block; 
    color: #fff;
    font-size: 1.6em;
}

/*woweather-info*/
.woweather-info
{
    
} 
.woweather-info__title
{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    display: block;
}
.woweather-info__value
{
    color: #fff;
    font-size: 1.2em;
}

/*custom*/
.radio-woweather
{
    justify-content: flex-end;
}
.radio-woweather .v-input--selection-controls__input
{
    display: none;
}
.radio-woweather .v-radio
{
    margin: 0;
}
.radio-woweather .v-radio .v-label
{
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
}
.radio-woweather .v-radio:first-child .v-label
{
    border-radius: 4px 0 0 4px;
}
.radio-woweather .v-radio:last-child .v-label
{
    border-left: 0px;
    border-radius:  0 4px 4px 0;
}
.radio-woweather .v-radio.accent--text .v-label
{
   background-color: rgba(255, 255, 255, 0.3);
}
.radio-woweather:before
{
    content: 'o';
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.5);
}


/*woweather-change-city*/
.woweather-change-city
{
    position: relative;
    width: 100%;
    z-index: 100;
}
.woweather-change-city__content
{
    position: absolute;
    top: 0; 
    width: 50%;
}

@media (max-width: 500px)
{
    .woweather_images-block
    {
        display: block;
        text-align: center;
        margin: auto;
        width: 100px;
        height: 100px;
    }
    .woweather-view__nummber 
    {
        font-size: 6em;
    }
    .woweather-view__degree 
    {
        font-size: 4em;
        top: -30px;
    }
    .woweather-link-btn
    {
        display: block;
        margin-bottom: 15px;
    }
    .woweather-main {
        height: 60%;
    }
    .woweather-info__value {
        font-size: 1em;
    }
}

/*.preloader*/
.preloader
{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.preloader .preloader__content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}